<h4>Parking Option</h4>
<h2><%= @type %></h2>
<h6><%= page_entries_info @businesses %></h6>

<div id="map"></div>

<div class="listing" data-zoom="12">
  <% @businesses.each_slice(3) do |businesses| %>
  <div class="row">
    <% businesses.each_with_index do |biz,i| %>
      <%= render partial: "business_listing", locals: {biz: biz} %>
    <% end %>
  </div>
  <% end %>
</div>

<%= will_paginate @businesses %>